body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 20px;
}

// #2e4052  #ccc9a1  #foffce  #000000