body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #FFFFFF, #FAA916, #366CCB) 
}

$sp-darkBlue: #366ccb;
$sp-lightBlue: #73ace3;
$sp-yellow: #fccb2e;
$sp-black: #050505;
$sp-red: #cc0b15c7;

$sp-titles: 'Old Standard TT', serif;
$sp-body: 'Questrial', sans-serif;

.App {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: 25vh;
  // background-color: #73ace3;
}

// #cc0b14  #366ccb  #73ace3  #fccb2e  #050505

// #FCCB2E