.contact-container {
    margin: 0 auto;
    padding: 10px;
    min-height: 28em;
    height: auto;
    width: 100%;
    display: inline-block;
    font-family: $sp-body;
    text-align: center;
}

.contact-title {
    font-size: 3em;
}

.info {
    font-size: 2em;
    margin-top: 2.5em;
}

.sketch {
    height: 20em;
    width: auto;
    margin-top: 3em;
}