.app-footer {
    width: 100%;
    height: auto;
    padding: 1.5em;
    color: $sp-lightBlue;
    font-family: $sp-titles;
    text-align: center;
}

.disclaimer {
    width: auto;
}

.hank {
    height: 4em;
    width: 3em;
}

@media screen and (max-width: 671px) {
    .disclaimer{font-size: .5em;}
}
