.App-header {
    // background-color: white;
    height: 6em;
    padding: 1em;
    border-bottom: 2px solid black;
    font-family: $sp-titles;
}

.App-logo {
    // animation: App-logo-spin infinite 20s linear;
    height: 8.5em;
    float: left;
    position: absolute;
    margin-top: -1.5em;
    margin-left: -2em;
}

.company-title {
    float: left;
    margin-top: 1.5em;
    color: $sp-darkBlue;
    font-size: 1.7em;
    margin-left: 3em;
}

.nav-container {
    display: flex;
    float: right;
    flex-direction: row; 
    list-style-type: none;
    margin-right: 1em;
    margin-top: 2.5em;
    font-size: 1.3em;
}

.nav-container li {
    padding-right: 2em;
    margin: 0 .5em;
}

a {
    color: #050505;
    text-decoration: none;
    font-size: 20px;
    font-size: 1em;
    font-weight: 400;
}

.burger-btn {
    background-color: transparent;
    border: none;
    float: right;
    margin-top: 3em;
    display: none;
}

.burger-img {
    height: 4em;
    width: 4em;
}

.burger-menu {
    background-color: transparent;
    position: absolute;
    height: 10em;
    width: 100%;
    display: none;
    margin-top: 5em;
    z-index: 99;
    text-align: right;
    margin-left: -2em;
}

.burger-menu li{
    margin-top: 1em;
    cursor: pointer;
}

.show-burger-menu {
    display: block;
    float: right;
}

@media screen and (min-width: 920px) {
    .burger-menu {display: none;}
}

@media screen and (max-width: 919px) {
    .burger-btn {display: block;}
    .nav-containter {display: none;}
    .nav-bar {display: none;}
}

@media screen and (max-width: 509px) {
    .company-title {font-size: 1em; margin-left: 4.5em; margin-top: 2.7em;}
}

@media screen and (max-width: 357px) {
    .company-title {display: none;}
}


// @keyframes App-logo-spin {
//     from { transform: rotate(0deg); }
//     to { transform: rotate(360deg); }
// }