.shop-container {
    margin: 0 auto;
    position: relative;
    padding: 10px;
    height: auto;
    display: inline-block;
    font-family: $sp-body;
}

.container-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    margin: 0 15%;
}

.products-container {
    display: inline-block;
    height: auto;
    text-align: center;
    position: relative;
    margin: 3em 2em;
    flex-grow: 3;
}

.prod-names {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#product-img {
    height: 200px;
    width: 200px;
    margin-bottom: 1em;
    transition: transform .05s;
}

#product-img:hover {
    transform: scale(1.25);
}

.shop-title {
    text-align: center;
    margin-top: 1em;
    font-size: 3em;
    margin-bottom: 1em;
}

