.products-container {
    display: inline-block;
    height: auto;
    text-align: center;
    position: relative;
}

.product-img {
    height: 200px;
    width: 200px;
}

.shop-container {
    height: auto;
    display: inline-block;
    position: absolute;
}