/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #FCCB2E, #FAA916, #366CCB); }

.App {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: block; }

.App-header {
  height: 6em;
  padding: 1em;
  border-bottom: 2px solid black; }

.App-logo {
  height: 6em;
  float: left; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.company-title {
  float: left;
  margin-left: 2em;
  margin-top: 1.3em;
  color: #cc0b14;
  font-size: 1.5em; }

.nav-container {
  display: flex;
  float: right;
  flex-direction: row;
  list-style-type: none;
  margin-right: 1em;
  margin-top: 3em; }

.nav-container li {
  padding-right: .5em;
  margin: 0 .5em; }

a {
  color: #050505;
  text-decoration: none;
  font-size: 20px;
  font-size: 1em;
  font-weight: 400; }

.app-footer {
  width: 100%;
  height: 3em;
  padding: 2em;
  color: #DCE1DE; }

h1 {
  font-size: 24px; }

.home-container {
  margin: 0 auto;
  padding: 10px;
  height: 31.5em;
  width: 100%;
  display: inline-block; }

.products-container {
  display: inline-block;
  height: auto;
  text-align: center;
  position: relative; }

.product-img {
  height: 200px;
  width: 200px; }

.shop-container {
  margin: 0 auto;
  padding: 10px;
  height: auto;
  display: inline-block; }

.big-img {
  height: 20em;
  width: 20em; }

.product-container {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  height: 31.5em;
  width: 100%;
  display: inline-block; }

.cart-container {
  margin: 0 auto;
  padding: 10px;
  height: auto;
  width: 100%;
  display: inline-block; }

.cart-total {
  float: right; }

.about-container {
  margin: 0 auto;
  padding: 10px;
  height: 31.5em;
  width: 100%;
  display: inline-block; }

.contact-container {
  margin: 0 auto;
  padding: 10px;
  height: 31.5em;
  width: 100%;
  display: inline-block; }

/*# sourceMappingURL=index.css.map */
