/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #FFFFFF, #FAA916, #366CCB); }

.App {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: block; }

.App-header {
  height: 6em;
  padding: 1em;
  border-bottom: 2px solid black;
  font-family: "Old Standard TT", serif; }

.App-logo {
  height: 8.5em;
  float: left;
  position: absolute;
  margin-top: -1.5em;
  margin-left: -2em; }

.company-title {
  float: left;
  margin-top: 1.5em;
  color: #366ccb;
  font-size: 1.7em;
  margin-left: 3em; }

.nav-container {
  display: flex;
  float: right;
  flex-direction: row;
  list-style-type: none;
  margin-right: 1em;
  margin-top: 2.5em;
  font-size: 1.3em; }

.nav-container li {
  padding-right: 2em;
  margin: 0 .5em; }

a {
  color: #050505;
  text-decoration: none;
  font-size: 20px;
  font-size: 1em;
  font-weight: 400; }

.burger-btn {
  background-color: transparent;
  border: none;
  float: right;
  margin-top: 3em;
  display: none; }

.burger-img {
  height: 4em;
  width: 4em; }

.burger-menu {
  background-color: #ffffff;
  position: absolute;
  height: 10em;
  width: 100%;
  display: none;
  margin-top: 5em;
  z-index: 99;
  margin-left: -1em; }

.show-burger-menu {
  display: block;
  float: right; }

@media screen and (min-width: 891px) {
  .burger-menu {
    display: none; } }
@media screen and (max-width: 890px) {
  .burger-btn {
    display: block; }

  .nav-containter {
    display: none; }

  .nav-bar {
    display: none; } }
@media screen and (max-width: 509px) {
  .company-title {
    font-size: 1em;
    margin-left: 4.5em;
    margin-top: 2.7em; } }
.app-footer {
  width: 100%;
  height: auto;
  padding: 1.5em;
  color: #73ace3;
  font-family: "Old Standard TT", serif;
  text-align: center; }

.disclaimer {
  width: auto; }

.hank {
  height: 4em;
  width: 3em; }

@media screen and (max-width: 671px) {
  .disclaimer {
    font-size: .5em; } }
.home-container {
  margin: 0 auto;
  padding: 10px;
  min-height: 28em;
  height: auto;
  width: 100%;
  display: block;
  font-family: "Old Standard TT", serif; }

.join-us {
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  color: #366ccb;
  animation-name: moveInLeft;
  animation-duration: 1s; }

.grill-title {
  font-size: 5em;
  text-align: center;
  margin-top: .5em;
  color: #cc0b15c7;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-timing-function: ease-in; }

.deals {
  font-size: 3em;
  text-align: center;
  margin-top: .8em;
  color: #366ccb;
  animation-name: moveInRight;
  animation-duration: 5s; }

.tank-container {
  animation: fadeIn;
  animation-duration: 5s;
  animation-timing-function: ease-in; }

.tank1 {
  height: 10em;
  width: auto;
  margin-top: .5em;
  float: left; }

.tank2 {
  height: 10em;
  width: auto;
  margin-top: .5em;
  float: right; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20em); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20em); }
  50% {
    opacity: .2; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 820px) {
  .grill-title {
    font-size: 3em; } }
@media screen and (max-width: 563px) {
  .grill-title {
    font-size: 1.5em; }

  .join-us {
    font-size: .75em; }

  .deals {
    font-size: .75em; }

  .tank-container {
    display: flex; }

  .tank1 {
    height: 15em;
    align-content: center;
    display: inline-block;
    margin: 0 auto; }

  .tank2 {
    display: none; } }
.shop-container {
  margin: 0 auto;
  position: relative;
  padding: 10px;
  height: auto;
  display: inline-block;
  font-family: "Questrial", sans-serif; }

.container-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  margin: 0 15%; }

.products-container {
  display: inline-block;
  height: auto;
  text-align: center;
  position: relative;
  margin: 3em 2em;
  flex-grow: 3; }

.prod-names {
  font-size: 1.5em;
  margin-bottom: 1em; }

#product-img {
  height: 200px;
  width: 200px;
  margin-bottom: 1em;
  transition: transform .05s; }

#product-img:hover {
  transform: scale(1.25); }

.shop-title {
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
  margin-bottom: 1em; }

.big-img {
  height: 30em;
  width: 30em;
  float: left;
  margin: .5em  6em; }

.product-container {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  min-height: 30em;
  height: auto;
  width: 100%;
  display: inline-block;
  font-family: "Questrial", sans-serif; }

.prod-name {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 45px;
  margin-top: 2em;
  font-size: 2em;
  border-bottom: 1px solid #050505; }

.prod-price {
  font-size: 1.3em;
  margin: 4em auto; }

.qty-box {
  width: 4em; }

.add-btn {
  margin-top: 8em;
  width: 13em;
  height: 5em;
  font-weight: 500;
  color: #050505;
  background-color: transparent;
  border: 1px solid #050505;
  border-radius: 20px;
  transition: background-color 0.2s ease-out; }

.add-btn:hover,
.add-btn:active {
  background-color: #73ace3;
  transition: background-color 0.4s ease-in; }

@media screen and (max-width: 630px) {
  .big-img {
    margin: .5em 2em;
    height: 20em;
    width: 20em; }

  .prod-name {
    font-size: 1.5em;
    border-bottom: none; } }
.cart-container {
  margin: 0 auto;
  padding: 10px;
  min-height: 31em;
  height: auto;
  width: 100%;
  display: inline-block;
  font-family: "Questrial", sans-serif; }

.cart-title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em; }

.cart-products {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  border-bottom: 0.5px dashed #050505; }

.name-pic {
  font-size: 1.5em;
  text-align: center;
  width: 50%;
  float: left;
  clear: both; }

.cart-name {
  width: 150px;
  float: left;
  margin-bottom: 1.7em;
  font-size: .7em; }

#cart-img {
  clear: both;
  float: left;
  width: 5em;
  height: 5em;
  margin: 0 1em; }

.cart-deets {
  width: 50%;
  float: right;
  clear: both;
  display: flex;
  align-items: flex-end;
  margin-bottom: .5em; }

.curr-price {
  margin-right: 5em;
  font-size: 1.2em; }

.delete-ghost {
  width: 4em;
  height: 1.8em;
  margin-left: 2em;
  font-weight: 700;
  color: #050505;
  background-color: transparent;
  border: 1px solid #050505;
  border-radius: 20px;
  transition: background-color 0.2s ease-out; }

.delete-ghost:hover,
.delete-ghost:active {
  background-color: #cc0b15c7;
  transition: background-color 0.4s ease-in; }

.total-checkout {
  width: 50%;
  float: right;
  margin-top: 2em;
  padding: 2em; }

.cart-total {
  float: right;
  font-size: 1.5em;
  border-bottom: 0.5px solid #050505; }

.checkout-container {
  float: right;
  clear: both;
  margin-top: .5em; }

@media screen and (max-height: 630px) {
  .cart-products {
    display: flex;
    flex-direction: column; } }
.contact-container {
  margin: 0 auto;
  padding: 10px;
  min-height: 30em;
  height: auto;
  width: 100%;
  display: inline-block;
  font-family: "Questrial", sans-serif; }

/*# sourceMappingURL=index.css.map */
